@model CheaperResearch.Data.Module

@{
    ViewBag.Title = $"Module {Model.Name} ({Model.Id})";
    Layout = "_Layout";
    ViewData.TryAdd("bodyoutsidecontainer", 1);
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    @if (string.IsNullOrEmpty(Model.Blob))
    {
        <p class="empty-blob">This module has no actual content linked to it. You can use it as a container for sub-modules. <a href="#"  onclick="toggleSurveyEditor()">Alternatively, you can add content by clicking here.</a></p>
    }
    <form method="post" asp-action="UpdateModule" id="mainForm">
        <input type="hidden" asp-for="Id">
        <div class="form-group">
            <label asp-for="Name">Module Name</label>
            <input type="text" class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Blob">
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

</div>




<div id="surveyCreatorContainer"></div>

<script>

var blobElement = document.getElementById("Blob");
var surveyContainer = document.getElementById("surveyCreatorContainer");


function toggleSurveyEditor(){
    for (let el of document.getElementsByClassName("empty-blob")) {
        el.style.display = 'none';
    }
    surveyContainer.innerHTML = "";
     var options = {showEmbededSurveyTab: false, showJSONEditorTab: false}; //see examples below
       var surveyCreator = new SurveyCreator.SurveyCreator("surveyCreatorContainer", options);
       surveyCreator.text = blobElement.value;
       //set function on save callback
       surveyCreator.saveSurveyFunc = function(){
           blobElement.value = surveyCreator.text;
           document.getElementById("mainForm").submit();
       }; 
    }
   window.onload = function (){
     if (blobElement.value){
                toggleSurveyEditor();    
            }
   }
</script>